body{
    background-color: pink;
    color:black
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 10px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
    text-align: center;
}

test{
    margin-right: 200px;
    width:400px;
}

h1{
    text-align: center;
}
